.marker-header {
    display: inline-flex;
}
::ng-deep .mat-ink-bar {
    background-color:#0081ba !important;}

    ::ng-deep  .mat-tab-label-active {
        color: #0081ba !important;
     
        border-color: #0081ba;
   
       
        border-width: 2px;
    } 

    ::ng-deep  .mat-tab-label { 
        min-width: 110px;
        min-height: 0px !important;
  height: 45!important; 
  padding-right: 20px;
    } 

      .mat-button.mat-blue {
        color: #0081ba;
     }
     
     .mat-raised-button.mat-blue, .mat-flat-button.mat-blue{
        color: #0081ba;
     }
     ::ng-deep .gm-style-iw-c {
      max-height: 500px !important;
  }
  ::ng-deep .gm-style-iw-d {
    max-height: 500px !important;
}
.pac-container {
  z-index: 10000 !important;
}
table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #777;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

