<div *ngIf="addTruckService.mapaToggle">
    <agm-map [zoom]="zoom" [latitude]="latitude" [longitude]="longitude"  [style.height.px]="mapSize">
<div  *ngFor="let mark of markerArray; let i = index">
<agm-marker *ngIf="showMarkers" 
      [latitude]="mark.lat"
      [longitude]="mark.lng"
      [iconUrl]="mark.icon"
      (markerClick)="openMarker(mark.id)"
     >
      <agm-info-window *ngIf="mark.markerOpened" [isOpen]="mark.markerOpened" >
        <div style="align-items: center">
          <div class="marker-header">
          <mat-icon style="color: #0081ba;">person</mat-icon>
          <h4 style="margin-left: 5px;">{{mark.firstName}} {{mark.lastName}}</h4>
        </div>
        <mat-tab-group>
          <mat-tab>
              <ng-template mat-tab-label>
             <i class="fas fa-truck-moving fa-lg" style="margin-right: 15px"></i>
                Pojazd
            </ng-template>
            <div style="min-width: 290px;  background-color: #ebeff5; border-style: solid; border-color: #0081ba;  margin-top:5px; padding: 10px 10px 0px 0px; max-width: 320px"> 
                <div style="margin-top: 5px;" class="marker-header">  
                <mat-icon style="margin-top: -1px; margin-left: 10px; font-size: 150%; color: #0081ba;">location_on</mat-icon>
             <h6 style="display: inline-block;">{{mark.adres}}</h6>
                </div>
                <mat-divider style="margin-top: 5px; margin-bottom: 5px; width: 94.5%; margin-left: 4%;"></mat-divider>
             <div></div>
              <div style="margin-top: 5px;" class="marker-header">
                <mat-icon style="margin-top: -1px; margin-left: 10px; font-size: 150%; color: #0081ba;">date_range</mat-icon>
                <h6 style="margin-top: 2px;">Wolny od: {{mark.wolnyOd}} do: {{mark.wolnyDo}}</h6>
              </div>
              <mat-divider style="margin-top: 5px; margin-bottom: 5px; width: 94.5%; margin-left: 4%;"></mat-divider>
              <div></div>
              <div style="margin-top: 5px;" class="marker-header">
                  <mat-icon style="margin-top: -1px; margin-left: 10px; font-size: 150%; color: #0081ba;">rv_hookup</mat-icon>
                  <h6 style="margin-top: 2px;">Nadwozie: {{mark.typ}} {{mark.rodzaj}}</h6>
              </div>
              <mat-divider style="margin-top: 5px; margin-bottom: 5px; width: 94.5%; margin-left: 4%;"></mat-divider>
              <div></div>
              <div style="margin-top: 5px;" class="marker-header" >
                  <mat-icon style="margin-top: -1px; margin-left: 10px; font-size: 150%; color: #0081ba;">build</mat-icon>
                  <h6  style="margin-top: 2px">Specyfikacje: {{mark.adr}} {{mark.edscha}} {{mark.winda}} {{mark.cerXl}}</h6>   
              </div>
              <mat-divider *ngIf="mark.uwagi"  style="margin-top: 5px; margin-bottom: 5px; width:94.5%; margin-left: 4%;"></mat-divider>
              <div></div>
              <div *ngIf="mark.uwagi" style="margin-top: 5px; margin-bottom: 3px;" class="marker-header">
                  <mat-icon style="margin-top: -1px; margin-left: 10px; font-size: 150%; color: #0081ba;">info</mat-icon>
                  <h6 style="">Uwagi: {{mark.uwagi}} </h6>
              </div>
<div style="margin-top: 2px;"></div>
          </div> 
            </mat-tab>
          <mat-tab>
             <ng-template mat-tab-label>
               <fa name="fas fa-id-card fa-lg" style="margin-right: 15px"></fa>
               Kontakt
             </ng-template>
                <div style="min-width: 290px;  background-color: #ebeff5; border-style: solid; border-color: #0081ba; margin-top:5px; padding: 10px 10px 0px 0px; max-width: 320px"> 
                    <div class="marker-header">  
                    <mat-icon style=" margin-left: 10px; font-size: 135%; color: #0081ba;">account_balance</mat-icon>
                 <h6 style="display: inline-block;">{{mark.companyName}}</h6>
                    </div>
                    <mat-divider style="margin-top: 5px; margin-bottom: 10px; width: 94.5%; margin-left: 4%;"></mat-divider>
                 <div></div>
                  <div class="marker-header">
                    <mat-icon style=" margin-left: 10px; font-size: 135%; color: #0081ba;">email</mat-icon>
                    <a style="" href="mailto:{{mark.email}}?Subject=Wolne%20Auto">{{mark.email}}</a>
                  </div>
                  <mat-divider style="margin-top: 5px; margin-bottom: 12.5px; width: 94.5%; margin-left: 4%;"></mat-divider>
                  <div></div>
                  <div class="marker-header">
                      <mat-icon style=" margin-left: 10px; font-size: 135%; color: #0081ba;">phone_android</mat-icon>
                      <h6>{{mark.tel}}</h6>
                  </div>
                  <mat-divider style="margin-top: 5px; margin-bottom: 12.5px; width: 94.5%; margin-left: 4%;"></mat-divider>
                  <div></div>
                  <div class="marker-header" style="margin-top:-7.3px; margin-bottom: 5px;">
                      <img src="assets/images/trans2.png" style=" margin-left: 5px; padding-bottom:-50px!important; width: 11%; height: 11%; ">
                      <h6 style="margin-top: 7.3px">{{mark.transId}}</h6>
                  </div>
              </div> 
          </mat-tab>
        </mat-tab-group>
        <mat-divider style="margin-top: 5px;"></mat-divider>
        <button style=" margin-top: 5px; float: right;" mat-button color="blue" ><mat-icon>edit </mat-icon> Edytuj</button>
        <button style=" margin-top: 5px; float: right" mat-button color="warn" (click)="initiateDeleteTruck(mark)"><mat-icon>delete_forever </mat-icon> Usuń</button>
        </div>
      </agm-info-window>
    </agm-marker>
  </div>
  <agm-circle *ngIf="circleShowed"
  [latitude]="circleLat"
  [longitude]="circleLng"
  [radius]="circleRange"
  [circleDraggable]="false"
  [editable]="false"
  [fillColor]="circleColor">
  

  </agm-circle>
    </agm-map>
</div>
<div *ngIf="addTruckService.listToggle">
  <div class="example-container">
    <mat-table #table [dataSource]="dataSource" matSort>
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Weight </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.weight}} </mat-cell>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row" >
      </mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
  
  <ng-template #tpl let-element>
    <div class="mat-row detail-row" [@detailExpand] style="overflow: hidden">
      The symbol for {{element.name}} is {{element.symbol}}
    </div>
  </ng-template>
</div>

  
  
 