.marker-header {
    display: inline-flex;
}
::ng-deep .mat-ink-bar {
    background-color:#0081ba !important;}

    ::ng-deep  .mat-tab-label-active {
        color: #0081ba !important;
     
        border-color: #0081ba;
   
       
        border-width: 2px;
    } 

    ::ng-deep  .mat-tab-label { 
        min-width: 110px;
        min-height: 0px !important;
  height: 45!important; 
  padding-right: 20px;
    } 

      .mat-button.mat-blue {
        color: #0081ba;
     }
     
     .mat-raised-button.mat-blue, .mat-flat-button.mat-blue{
        color: #0081ba;
     }
     ::ng-deep .gm-style-iw-c {
      max-height: 500px !important;
  }
  ::ng-deep .gm-style-iw-d {
    max-height: 500px !important;
}
.pac-container {
  z-index: 10000 !important;
}
table {
  width: 100%;
  border-collapse: separate; border-spacing: 0px;
}

table > tr:hover {
  background-color: black !important;
  color: black !important;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background-color: #0081ba!important;
 
}



tr.example-element-row:not(.example-expanded-row):active {
  background-color: #a2d9f7!important;
  border-bottom-width: 100%;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}


.mat-paginator-sticky {
  bottom: 0px;

  position: sticky;
  z-index: 10;
 
 
}

.mat-header-row {
  
  
  z-index: 1;
  background-color: inherit;
  text-align: center;
}

.mat-column-typ {
  width: 100px ;
 
}

.mat-column-tel {
  width: 150px  ;
  
}
.mat-column-rodzaj {
  width: 200px  ;
  padding-left: 30px;
}
.mat-column-wolnyOd {
  width: 200px ;
  padding-left: 30px;
}
.mat-column-wolnyDo {
  width: 100;
  padding-right: 30px;
}

.mat-column-adres {
  
  width: 1000px;
 
  padding-left: 30px;
}


#tel {
  border-right: 1px solid  #e0e0e0;  
}

#typ {
  border-right: 1px solid  #e0e0e0;
}

#wolnyDo {
 
}

#adres {
  border-left: 1px solid  #e0e0e0;
}

.example-element-row {
  bottom: 0px;
  position: sticky;
  z-index: 10;
  top: 0px;
  background-color: white;
}

.example-container {
  height: 100%;
  min-height: 100%;
	display: flex;
	flex-direction: column;
}

.remaining {
  flex: 1;
}






