<div *ngIf="mapaToggle">
    <agm-map [zoom]="zoom" [latitude]="latitude" [longitude]="longitude"  [style.height.px]="mapSize">
<div  *ngFor="let mark of markerArray; let i = index">
<agm-marker *ngIf="showMarkers" 
      [latitude]="mark.lat"
      [longitude]="mark.lng"
      [iconUrl]="mark.icon"
      (markerClick)="openMarker(mark.id)"
     >
      <agm-info-window *ngIf="mark.markerOpened" [isOpen]="mark.markerOpened" >
        <div style="align-items: center">
          <div class="marker-header">
          <mat-icon style="color: #0081ba;">person</mat-icon>
          <h4 style="margin-left: 5px;">{{mark.firstName}} {{mark.lastName}}</h4>
        </div>
        <mat-tab-group>
          <mat-tab>
              <ng-template mat-tab-label>
             <i class="fas fa-truck-moving fa-lg" style="margin-right: 15px"></i>
                Pojazd
            </ng-template>
            <div style="min-width: 290px;  background-color: #ebeff5; border-style: solid; border-color: #0081ba;  margin-top:5px; padding: 10px 10px 0px 0px; max-width: 320px"> 
                <div style="margin-top: 5px;" class="marker-header">  
                <mat-icon style="margin-top: -1px; margin-left: 10px; font-size: 150%; color: #0081ba;">location_on</mat-icon>
             <h6 style="display: inline-block;">{{mark.adres}}</h6>
                </div>
                <mat-divider style="margin-top: 5px; margin-bottom: 5px; width: 94.5%; margin-left: 4%;"></mat-divider>
             <div></div>
              <div style="margin-top: 5px;" class="marker-header">
                <mat-icon style="margin-top: -1px; margin-left: 10px; font-size: 150%; color: #0081ba;">date_range</mat-icon>
                <h6 style="margin-top: 2px;">Wolny od: {{mark.wolnyOd}} do: {{mark.wolnyDo}}</h6>
              </div>
              <mat-divider style="margin-top: 5px; margin-bottom: 5px; width: 94.5%; margin-left: 4%;"></mat-divider>
              <div></div>
              <div style="margin-top: 5px;" class="marker-header">
                  <mat-icon style="margin-top: -1px; margin-left: 10px; font-size: 150%; color: #0081ba;">rv_hookup</mat-icon>
                  <h6 style="margin-top: 2px;">Nadwozie: {{mark.typ}} {{mark.rodzaj}}</h6>
              </div>
              <mat-divider style="margin-top: 5px; margin-bottom: 5px; width: 94.5%; margin-left: 4%;"></mat-divider>
              <div></div>
              <div style="margin-top: 5px;" class="marker-header" >
                  <mat-icon style="margin-top: -1px; margin-left: 10px; font-size: 150%; color: #0081ba;">build</mat-icon>
                  <h6  style="margin-top: 2px">Specyfikacje: {{mark.adr}} {{mark.edscha}} {{mark.winda}} {{mark.cerXl}}</h6>   
              </div>
              <mat-divider *ngIf="mark.uwagi"  style="margin-top: 5px; margin-bottom: 5px; width:94.5%; margin-left: 4%;"></mat-divider>
              <div></div>
              <div *ngIf="mark.uwagi" style="margin-top: 5px; margin-bottom: 3px;" class="marker-header">
                  <mat-icon style="margin-top: -1px; margin-left: 10px; font-size: 150%; color: #0081ba;">info</mat-icon>
                  <h6 style="">Uwagi: {{mark.uwagi}} </h6>
              </div>
<div style="margin-top: 2px;"></div>
          </div> 
            </mat-tab>
          <mat-tab>
             <ng-template mat-tab-label>
               <fa name="fas fa-id-card fa-lg" style="margin-right: 15px"></fa>
               Kontakt
             </ng-template>
                <div style="min-width: 290px;  background-color: #ebeff5; border-style: solid; border-color: #0081ba; margin-top:5px; padding: 10px 10px 0px 0px; max-width: 320px"> 
                    <div class="marker-header">  
                    <mat-icon style=" margin-left: 10px; font-size: 135%; color: #0081ba;">account_balance</mat-icon>
                 <h6 style="display: inline-block;">{{mark.companyName}}</h6>
                    </div>
                    <mat-divider style="margin-top: 5px; margin-bottom: 10px; width: 94.5%; margin-left: 4%;"></mat-divider>
                 <div></div>
                  <div class="marker-header">
                    <mat-icon style=" margin-left: 10px; font-size: 135%; color: #0081ba;">email</mat-icon>
                    <a style="" href="mailto:{{mark.email}}?Subject=Wolne%20Auto">{{mark.email}}</a>
                  </div>
                  <mat-divider style="margin-top: 5px; margin-bottom: 12.5px; width: 94.5%; margin-left: 4%;"></mat-divider>
                  <div></div>
                  <div class="marker-header">
                      <mat-icon style=" margin-left: 10px; font-size: 135%; color: #0081ba;">phone_android</mat-icon>
                      <h6>{{mark.tel}}</h6>
                  </div>
                  <mat-divider style="margin-top: 5px; margin-bottom: 12.5px; width: 94.5%; margin-left: 4%;"></mat-divider>
                  <div></div>
                  <div class="marker-header" style="margin-top:-7.3px; margin-bottom: 5px;">
                      <img src="assets/images/trans2.png" style=" margin-left: 5px; padding-bottom:-50px!important; width: 11%; height: 11%; ">
                      <h6 style="margin-top: 7.3px">{{mark.transId}}</h6>
                  </div>
              </div> 
          </mat-tab>
        </mat-tab-group>
        <mat-divider style="margin-top: 5px;"></mat-divider>
        <button style=" margin-top: 5px; float: right;" mat-button color="blue" ><mat-icon>edit </mat-icon> Edytuj</button>
        <button style=" margin-top: 5px; float: right" mat-button color="warn" (click)="initiateDeleteTruck(mark)"><mat-icon>delete_forever </mat-icon> Usuń</button>
        </div>
      </agm-info-window>
    </agm-marker>
  </div>
  <agm-circle *ngIf="circleShowed"
  [latitude]="circleLat"
  [longitude]="circleLng"
  [radius]="circleRange"
  [circleDraggable]="false"
  [editable]="false"
  [fillColor]="circleColor">
  

  </agm-circle>
    </agm-map>
</div>
<div class="outer" *ngIf="listToggle" >
    
    <div class="example-container" style="overflow: auto" [style.height.px]="mapSize">
    <table mat-table 
    [dataSource]="dataSource" multiTemplateDataRows matSort
    >
<ng-container matColumnDef="{{column}}" *ngFor="let column of columnsValue">
 <th (click)="sortClicked()" class="example-element-row" id="{{column}}" mat-header-cell *matHeaderCellDef mat-sort-header><i *ngIf="icons[column]" style="margin-right: 10px;" class="{{icons[column]}}"></i> {{displayedColumns[column]}} </th>
 <td mat-cell *matCellDef="let element"><img *ngIf="states[column]" class="example-option-img" aria-hidden [src]="states.kraj[element.kraj]" height="25" style="margin-right: 10px;">   <div *ngIf="displayedColumns[column]">{{element[column]}}</div> </td>
</ng-container>

<ng-container matColumnDef="expandedDetail" >
 <td id="{{element.color}}" mat-cell *matCellDef="let element" [attr.colspan]="columnsValue.length">
   <div   class="example-element-detail"
        [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
     <div class="example-element-diagram">
       <div class="example-element-position"> {{element.adres}} </div>
       <div class="example-element-symbol"> {{element.wolnyOd}} </div>
       <div class="example-element-name"> {{element.wolnyDo}} </div>
       <div class="example-element-weight"> {{element.firstName}} </div>
     </div>
     <div class="example-element-description">
       {{element.description}}
       <span class="example-element-description-attribution"> -- Wikipedia </span>
     </div>
   </div>
 </td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="columnsValue; sticky: true"></tr>
<div *ngIf="matRow">
<tr mat-row *matRowDef="let element; columns: columnsValue;"
style="width: 100px !important;"
   class="example-element-row"
   id="{{element.color}}"
   [class.example-expanded-row]="expandedElement === element"
   (click)="expandedElement = expandedElement === element ? null : element">
</tr>
</div>
<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

</table>
    <div class="remaining"></div>
    <mat-paginator [class.mat-elevation-z2]="!isActive" [pageSizeOptions]="[15, 25, 50, 100]"  class="mat-paginator-sticky"></mat-paginator>
 
</div>
</div>

  
  
 