@import '../../@theme/styles/themes';

@include nb-install-component() {

  nb-card-body {
    padding: 0;
  }

  .divider {
    
  }
  .actions {
    margin-top: 15px;
  }

  #icon {
    width: 155px;
  }

  /deep/ .leaflet-top, /deep/ .leaflet-bottom {
    z-index: 997;
  }

  /deep/ .leaflet-container {
    padding-right: 20px;
    height: nb-theme(card-height-large);
    margin: 20px 20px 20px 20px;
  }
  
  nb-actions {
    font-size: 2.5rem;
  }

}