
      <nb-card>
        <nb-card-header>Mapa Przewoźników</nb-card-header>
        <nb-card-body>
                <nb-actions class="actions" size="medium">
                        <nb-action icon="nb-plus-circled"></nb-action>
                        <nb-action icon="nb-trash"></nb-action>
                        <nb-action icon="nb-search"></nb-action>
                      </nb-actions>
        <hr>
        <div leaflet [leafletOptions]="options"></div>
        </nb-card-body>
      </nb-card>
    