
      
      <nb-card >
        <nb-card-header class="main-card">Mapa Przewoźników</nb-card-header>
        <nb-card-body>
                <nb-actions class="actions" size="medium">
                        <nb-action nbTooltip="Dodaj Auto" nbTooltipIcon="nb-plus"  icon="nb-plus" (click)="openWindowWithoutBackdrop()"></nb-action>
                        <ng-template #disabledEsc>
                          <input nbInput>
                          </ng-template>
                        <nb-action nbTooltip="Szukaj Auta" nbTooltipIcon="nb-search" icon="nb-search"></nb-action>
                        <nb-action icon="nb-trash"></nb-action>
                        
                      </nb-actions>
        <hr>
        <div leaflet [leafletOptions]="options"></div>
        </nb-card-body>
      </nb-card>
    