<nb-card>
    <nb-card-header class="header" >
       
      Pojazdy ({{ pojazdy }})</nb-card-header >
    <nb-card-body>
  
          <mat-toolbar style="background-color: white; height: 50px;">    
            
          <div style="display: inline-block;">
          <button mat-button  color="" (click)="openWindowWithoutBackdrop()" style="display: inline-block; height: 45px;"><img style="height: 32px; width: 32px; margin-right: 6px;" src="assets/images/addTruck.png">Dodaj Pojazd</button>
          </div>
          <mat-divider [vertical]="true" style="height: 68%; margin-left: 5px; margin-right: 5px;"></mat-divider>
           <div style="display: inline-block;">
          <button (click)="togglePanel()" mat-button  style=" height: 45px; display: inline-block;"><img class="icon" style="height: 32px; width: 32px; margin-right: 6px;" src="assets/images/searchTruck.png">Szukaj Pojazdu<mat-icon *ngIf="panelOpened">arrow_drop_down</mat-icon></button>
           </div>
           <mat-divider [vertical]="true" style="height: 68%; margin-left: 5px; margin-right: 5px;"></mat-divider>
          <div style="display: inline-block; flex: 1;">
          <button mat-button  color="" style=" height: 45px; display: inline-block;"><i class="fas fa-map-marked-alt" style="font-size: 2rem;  margin-right: 8px;"></i>Wyswietl Moje</button>
        </div>
        <div style="display: inline-block;">
          <mat-button-toggle-group #group="matButtonToggleGroup" [value] = "toggleValue" (change)="changeToggleValue(group.value)">
            <mat-button-toggle value="mapa">
              mapa
              <mat-icon style="-webkit-text-fill-color:#0081ba">place</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="lista">  
              <mat-icon style="-webkit-text-fill-color:#0081ba">view_list</mat-icon>
              lista
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
          </mat-toolbar>
          <mat-divider *ngIf="panelOpened"></mat-divider>
          <mat-accordion >
            <mat-expansion-panel  [expanded]="panelOpened" style="width: 100%; max-height: 50px;" class="mat-elevation-z0">
              <mat-expansion-panel-header [collapsedHeight]="'0px'" [expandedHeight]="'0'"></mat-expansion-panel-header>
              <mat-toolbar style="background-color: white; height: 50px;">    
            
                   <div style="display: inline-block; margin-left: -10px;">
                    <mat-form-field style="font-size: 14px; margin-top: 10px; width: 180px;">
                      <input #krajInput type="text" name="somethingAutofillDoesntKnow" autocomplete="off" [(ngModel)]="value" matInput placeholder="Kraj" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl" >
                      <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="clearKraj()">
                          <mat-icon>close</mat-icon>
                        </button>
                      <mat-autocomplete (optionSelected)="countrySelected($event)" #auto="matAutocomplete">
                        <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
                          <img class="example-option-img" aria-hidden [src]="state.flag" height="25" style="margin-right: 10px;">
                          <span>{{state.name}}</span>
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                   </div>
                    
                   <div style="display: inline-block;"  *ngIf="countryShortSelected; else falseInput">
                    <mat-form-field style="font-size: 14px; margin-top: 10px; width: 220px; margin-left: 20px;">
                      <input placeholder="Adres" autocomplete="off" matInput type="text" name="somethingAutofillDoesntKnow" autocomplete="off"
        [(ngModel)]="adresValue"
        id="adres"
        matGoogleMapsAutocomplete
        country="{{countryShort}}"
        type="cities"
        (onLocationSelected)="onLocationSelected($event)"
        (onAutocompleteSelected)="onAutocompleteSelected($event)"
        >
        <button mat-button *ngIf="adresValue" matSuffix mat-icon-button aria-label="Clear" (click)="clearAdres()">
            <mat-icon>close</mat-icon>
          </button>
                    </mat-form-field>
                   </div>
                   <ng-template #falseInput>
                      <div style="display: inline-block;">
                          <mat-form-field style="font-size: 14px; margin-top: 10px; width: 220px; margin-left: 20px;">
                        <input placeholder="Wybierz Kraj" style="min-width: 200px;" matInput disabled >
                        </mat-form-field>
                      </div>
                    </ng-template>
                   
                   <div style="display: inline-block;" *ngIf="adressSelected; else falseRange">
                    <mat-form-field style="font-size: 14px; margin-top: 10px; width: 100px; margin-left: 20px;">
                      <mat-label>Promień</mat-label>
                      <mat-select [(ngModel)]="rangeValue">
                        <mat-option [value]="5">Brak</mat-option >
                        <mat-option *ngFor="let range of ranges" [value]="range.value">{{range.viewValue}}</mat-option>
                      </mat-select>
                    </mat-form-field> 
                   </div>
                   <ng-template #falseRange>
                      <div style="display: inline-block;">
                          <mat-form-field style="font-size: 14px; margin-top: 10px; width: 100px; margin-left: 20px;" >
                            <mat-label>Promień</mat-label>
                            <mat-select disabled >
                              <mat-option>Brak</mat-option>
                            </mat-select>
                          </mat-form-field> 
                         </div>
                   </ng-template>
                   <mat-divider [vertical]="true" style="height: 68%; margin-left: 15px; margin-right: 5px;"></mat-divider>
                   <div style="display: inline-block;">
                    <button (click)="toggleAddationalPanel()" mat-button  style=" height: 45px; display: inline-block;"><mat-icon style="margin-right: 5px;">playlist_add</mat-icon>Dodatkowe filtry<mat-icon *ngIf="addationalPanelOpened">arrow_drop_down</mat-icon></button>
                    </div>
                    <mat-divider [vertical]="true" style="height: 68%; margin-left: 5px; margin-right: 5px;"></mat-divider>
                    <div style="display: inline-block;">    
                  </div>
                    <div style="display: inline-block;">
                    <button (click)="search()" mat-button type="button" color="blue"  style=" height: 45px; display: inline-block;"><mat-icon style="margin-right: 5px;" >search</mat-icon>Szukaj</button>
                  </div>
                  <mat-divider [vertical]="true" style="height: 68%; margin-left: 5px; margin-right: 5px;"></mat-divider>
                  <div style="display: inline-block;">
                  <button mat-button color="warn"  style=" height: 45px; display: inline-block;" (click)="clearAll()"><mat-icon style="margin-right: 5px;">clear</mat-icon>Wyczyść Filtry</button>
                  </div>
                  
                  </mat-toolbar>

                 
           
            </mat-expansion-panel>
          </mat-accordion>
          <mat-divider *ngIf="addationalPanelOpened"></mat-divider> 
          <mat-accordion >
              <mat-expansion-panel  [expanded]="addationalPanelOpened" style="width: 100%; max-height: 50px;" class="mat-elevation-z0">
                <mat-expansion-panel-header [collapsedHeight]="'0px'" [expandedHeight]="'0'"></mat-expansion-panel-header>
                <mat-toolbar style="background-color: white; height: 50px;">  
                   
              
                     <div style="display: inline-block; margin-left: -10px;">
                      <mat-form-field style="font-size: 14px; margin-top: 10px;">
                          <input  matInput [matDatepicker]="picker1" placeholder="Wolny w dniu" [value]="freeOn.value" [(ngModel)]="freeOnValue" >
                          <button mat-button *ngIf="freeOnValue" matSuffix mat-icon-button aria-label="Clear" (click)="clearFreeOn()">
                              <mat-icon>close</mat-icon>
                            </button>
                          <mat-datepicker-toggle *ngIf="!freeOnValue" style="font-size: 150%" matSuffix [for]="picker1"></mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
                     </div>
                      
                     <div style="display: inline-block;">
                      <mat-form-field style="font-size: 14px; margin-top: 10px; margin-left: 20px;">
                          <mat-select [(ngModel)]="typValue">  
                              <mat-option [value]="empty">Brak</mat-option>
                              <mat-option  *ngFor="let type of types" [value]="type.value" >
                                {{type.viewValue}}
                              </mat-option>
                            </mat-select>
                            <mat-label>Nadwozie</mat-label>
                      </mat-form-field>
                     </div>
                      
                      <div style="display: inline-block;">
                          <mat-form-field style="font-size: 14px; margin-top: 10px; margin-left: 20px;">
                              <mat-select [(ngModel)]="rodzajValue">
                                  <mat-option [value]="empty">Brak</mat-option>
                                  <mat-option *ngFor="let spec of specs" [value]="spec.value">
                                    {{spec.viewValue}} 
                                  </mat-option>
                                  </mat-select>
                                  <mat-label>Typ pojazdu</mat-label>
                          </mat-form-field>
                         </div>
                         
                      <div style="display: inline-block;">
                          <mat-form-field style="font-size: 14px; margin-top: 10px; width: 200px; margin-left: 20px;">
                              <mat-label>Specyfikacje</mat-label>
                              <mat-select [formControl]="specyfikacje" [(ngModel)]="specSelected" multiple>
                                <mat-option *ngFor="let specyfikacja of listaSpecyfikacji" [value]="specyfikacja">{{specyfikacja}}</mat-option>
                              </mat-select>
                          </mat-form-field>
                         </div>
                         <mat-divider [vertical]="true" style="height: 68%; margin-left: 15px; margin-right: 15px;"></mat-divider>
                    </mat-toolbar>
  
                    
             
              </mat-expansion-panel>
            </mat-accordion>

            <ng-template  #disabledEsc>
                <form class="new-truck-form">
              <ngx-add-truck></ngx-add-truck>             
             </form>
              </ng-template>
              
<mat-divider></mat-divider>

<div class="map-container">
      
    <ngx-markers></ngx-markers>
    
      
</div>



    </nb-card-body>
  </nb-card>