<nb-card>
    <nb-card-header class="header" >
       
      Truck</nb-card-header >
    <nb-card-body>
      <mat-tab-group [selectedIndex]="selected.value" style="" [backgroundColor]="accent" >
        <mat-tab *ngFor="let tab of tabs; let index = index"> 
          <ng-template mat-tab-label >
            <div >
             <span style="margin-right: 20px;">Wszystkie</span>
           
          </div>
          <button [disabled]="tabs.length === 1" [disableRipple]="true" style="  width: 0.01px; height: 0.01px; margin-top: -70px; margin-left: -15px; ;" mat-icon-button (click)="removeTab(index)"><mat-icon style="font-size: 90%;">close</mat-icon></button>
          </ng-template>

         
          <mat-toolbar style="background-color: white; height: 50px;">    
            
          <div style=" flex: 1; display: inline-block;">
          <button mat-button  color="" (click)="openWindowWithoutBackdrop()" style="display: inline-block;"><img style="height: 32px; width: 32px; margin-right: 6px;" src="assets/images/addTruck.png">Dodaj Pojazd</button>
          <mat-divider [vertical]="true" style="height: 68%; display: inline-block; "></mat-divider>
          <button (click)="togglePanel()" mat-button  color=""  style=" height: 45px; display: inline-block;"><img class="icon" style="height: 32px; width: 32px; margin-right: 6px;" src="assets/images/searchTruck.png">Szukaj Pojazdu</button>
          <mat-divider [vertical]="true" style="height: 68%; display: inline-block;"></mat-divider>
          <button mat-button  color="" style=" height: 45px; display: inline-block;"><i class="fas fa-map-marked-alt" style="font-size: 2rem;  margin-right: 8px;"></i>Wyswietl Moje</button>
        </div>
          <div style="">
         <mat-label  style="font-size: 18px; margin-right: 5px;">Mapa</mat-label>
           <mat-slide-toggle color="primary">
           </mat-slide-toggle>
          <mat-label style="font-size: 18px; margin-left: 5px">Lista</mat-label>
        </div>
          </mat-toolbar>
           
          <mat-accordion>
            <mat-expansion-panel [expanded]="panelOpened" style="width: 100%">
              <mat-expansion-panel-header [collapsedHeight]="'0px'" [expandedHeight]="'15px'"></mat-expansion-panel-header>
              <div style="background-color: #ebeff5; border-style: solid; border-color: #9e9e9e; border-width: 0.1px; padding: 10px 10px 10px 10px; max-width: 195px;">
                <input nbInput placeholder="Kraj" style="height: 5px; margin-bottom: 5px;">
                <input nbInput placeholder="adres" style="height: 5px;">
               </div>
            </mat-expansion-panel>
          </mat-accordion>

            <ng-template  #disabledEsc>
                <form class="new-truck-form">
              <ngx-add-truck></ngx-add-truck>             
             </form>
              </ng-template>
              
<mat-divider></mat-divider>

<div class="map-container" style="">
      
      <ngx-map ></ngx-map>
</div>
</mat-tab>
<mat-tab disabled>
  <ng-template mat-tab-label>
    <button style="margin-left: -85px;" color="primary" mat-icon-button (click)="addTab()"><mat-icon>add</mat-icon></button>
  </ng-template>
</mat-tab>
</mat-tab-group>
    </nb-card-body>
  </nb-card>