@import url('https://fonts.googleapis.com/css?family=Roboto');

@import '~@angular/material/theming';


.header {
  font-family: Roboto !important;
}
.new-truck-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .hint-container span {
    margin: 20px 20px 20px 20px;
  }

  .fa-truck-moving {
color: #0081ba;
  }

  .toggle {
    margin-left: 10px;
  }

  button:focus {
    outline: none;
    border: 0;
    background: white;
  }

  .mat-button.mat-blue {
    color: #0081ba;
 }
 
 .mat-raised-button.mat-blue, .mat-flat-button.mat-blue{
    color: #0081ba;
 }

 .icon{
   color: red;
 }

  