<nb-card>
    <nb-card-header class="header" >
       
      Truck</nb-card-header >
    <nb-card-body>
  
          <mat-toolbar style="background-color: white; height: 50px;">    
            
          <div style="display: inline-block;">
          <button mat-button  color="" (click)="openWindowWithoutBackdrop()" style="display: inline-block; height: 45px;"><img style="height: 32px; width: 32px; margin-right: 6px;" src="assets/images/addTruck.png">Dodaj Pojazd</button>
          </div>
          <mat-divider [vertical]="true" style="height: 68%; margin-left: 5px; margin-right: 5px;"></mat-divider>
           <div style="display: inline-block;">
          <button (click)="togglePanel()" mat-button  style=" height: 45px; display: inline-block;"><img class="icon" style="height: 32px; width: 32px; margin-right: 6px;" src="assets/images/searchTruck.png">Szukaj Pojazdu<mat-icon *ngIf="panelOpened">arrow_drop_down</mat-icon></button>
           </div>
           <mat-divider [vertical]="true" style="height: 68%; margin-left: 5px; margin-right: 5px;"></mat-divider>
          <div style="display: inline-block; flex: 1;">
          <button mat-button  color="" style=" height: 45px; display: inline-block;"><i class="fas fa-map-marked-alt" style="font-size: 2rem;  margin-right: 8px;"></i>Wyswietl Moje</button>
        </div>
        <div style="display: inline-block;">
          <mat-button-toggle-group #group="matButtonToggleGroup">
            <mat-button-toggle value="temporary">
              mapa
              <mat-icon style="-webkit-text-fill-color:#0081ba">place</mat-icon>
            </mat-button-toggle>
            <mat-button-toggle value="temporary">  
              <mat-icon style="-webkit-text-fill-color:#0081ba">view_list</mat-icon>
              lista
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
          </mat-toolbar>
          <mat-divider *ngIf="panelOpened"></mat-divider>
          <mat-accordion >
            <mat-expansion-panel  [expanded]="panelOpened" style="width: 100%; max-height: 50px;" class="mat-elevation-z0">
              <mat-expansion-panel-header [collapsedHeight]="'0px'" [expandedHeight]="'0'"></mat-expansion-panel-header>
              <mat-toolbar style="background-color: white; height: 50px;">    
            
                   <div style="display: inline-block; margin-left: -10px;">
                    <mat-form-field style="font-size: 14px; margin-top: 10px;">
                      <input matInput type="text" name="somethingAutofillDoesntKnow" autocomplete="off" placeholder="Kraj"  />
                    </mat-form-field>
                   </div>
                    <mat-divider [vertical]="true" style="height: 68%; margin-left: 15px; margin-right: 15px;"></mat-divider>
                   <div style="display: inline-block;">
                    <mat-form-field style="font-size: 14px; margin-top: 10px;">
                      <input matInput type="text" name="somethingAutofillDoesntKnow" autocomplete="off" placeholder="Adres" />
                    </mat-form-field>
                   </div>
                    <mat-divider [vertical]="true" style="height: 68%; margin-left: 15px; margin-right: 15px;"></mat-divider>
                   <div style="display: inline-block;">
                    <mat-form-field style="font-size: 14px; margin-top: 10px; width: 100px;">
                      <mat-label>Promień</mat-label>
                      <mat-select>
                        <mat-option>Brak</mat-option>
                        <mat-option *ngFor="let range of ranges" [value]="range">{{range}}</mat-option>
                      </mat-select>
                    </mat-form-field> 
                   </div>
                   <mat-divider [vertical]="true" style="height: 68%; margin-left: 15px; margin-right: 15px;"></mat-divider>
                    <button (click)="toggleAddationalPanel()" mat-button  style=" height: 45px; display: inline-block;"><mat-icon style="margin-right: 5px;">playlist_add</mat-icon>Dodatkowe filtry<mat-icon *ngIf="addationalPanelOpened">arrow_drop_down</mat-icon></button>
                  </mat-toolbar>

                 
           
            </mat-expansion-panel>
          </mat-accordion>
          <mat-divider *ngIf="addationalPanelOpened"></mat-divider> 
          <mat-accordion >
              <mat-expansion-panel  [expanded]="addationalPanelOpened" style="width: 100%; max-height: 50px;" class="mat-elevation-z0">
                <mat-expansion-panel-header [collapsedHeight]="'0px'" [expandedHeight]="'0'"></mat-expansion-panel-header>
                <mat-toolbar style="background-color: white; height: 50px;">  
                   
              
                     <div style="display: inline-block; margin-left: -10px;">
                      <mat-form-field style="font-size: 14px; margin-top: 10px;">
                          <input  matInput [matDatepicker]="picker1" placeholder="Wolny w dniu" [value]="freeOn.value" [(ngModel)]="freeOnValue" >
                          <mat-datepicker-toggle style="font-size: 150%" matSuffix [for]="picker1"></mat-datepicker-toggle>
                          <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
                     </div>
                      <mat-divider [vertical]="true" style="height: 68%; margin-left: 15px; margin-right: 15px;"></mat-divider>
                     <div style="display: inline-block;">
                      <mat-form-field style="font-size: 14px; margin-top: 10px;">
                        <input matInput type="text" name="somethingAutofillDoesntKnow" autocomplete="off" placeholder="Nadwozie" />
                      </mat-form-field>
                     </div>
                      <mat-divider [vertical]="true" style="height: 68%; margin-left: 15px; margin-right: 15px;"></mat-divider>
                      <div style="display: inline-block;">
                          <mat-form-field style="font-size: 14px; margin-top: 10px;">
                            <input matInput type="text" name="somethingAutofillDoesntKnow" autocomplete="off" placeholder="Typ pojazdu" />
                          </mat-form-field>
                         </div>
                         <mat-divider [vertical]="true" style="height: 68%; margin-left: 15px; margin-right: 15px;"></mat-divider>
                      <div style="display: inline-block;">
                          <mat-form-field style="font-size: 14px; margin-top: 10px;">
                            <input matInput type="text" name="somethingAutofillDoesntKnow" autocomplete="off" placeholder="Specyfikacje" />
                          </mat-form-field>
                         </div>
 
                    </mat-toolbar>
  
                    
             
              </mat-expansion-panel>
            </mat-accordion>

            <ng-template  #disabledEsc>
                <form class="new-truck-form">
              <ngx-add-truck></ngx-add-truck>             
             </form>
              </ng-template>
              
<mat-divider></mat-divider>

<div class="map-container" style="">
      
      <ngx-map ></ngx-map>
</div>



    </nb-card-body>
  </nb-card>