@import url('https://fonts.googleapis.com/css?family=Roboto');

@import '~@angular/material/theming';

nb-card-body {
  padding: 0;
}

/deep/ agm-map {
  width: 100%;
  height: nb-theme(card-height-large);
}

.header {
  font-family: Roboto !important;
}
.new-truck-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .hint-container span {
    margin: 20px 20px 20px 20px;
  }

  .fa-truck-moving {
color: #0081ba;
  }

  .toggle {
    margin-left: 10px;
  }

  button:focus {
    outline: none;
    border: 0;
    background: white;
  }

  .mat-button.mat-blue {
    color: #0081ba;
 }
 
 .mat-raised-button.mat-blue, .mat-flat-button.mat-blue{
    color: #0081ba;
 }

 .icon{
   color: red;
 }
 
 .fa-map-marked-alt {
   color: #0081ba;
 }

 :host .mat-button-toggle-group{
  border-style: none !important;
  border: none !important;
  font-size: 16px;
}

.mat-button-toggle-button:focus {
  border: none !important;
  border-style: none !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color:#0081ba !important;;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline when focused*/
  background-color: #cfcfcf !important;;
 }
 ::ng-deep.mat-expansion-indicator:after {
  color: white !important;
}


 .mat-focused {
  ::ng-deep.mat-form-field-label {
  /*change color of underline when focused*/
  color:#0081ba !important;;
 }
}


  