.marker-header {
    display: inline-flex;
}
::ng-deep .mat-ink-bar {
    background-color:#0081ba !important;}

    ::ng-deep  .mat-tab-label-active {
        color: #0081ba !important;
     
        border-color: #0081ba;
   
       
        border-width: 2px;
    } 

    ::ng-deep  .mat-tab-label { 
        min-width: 110px;
        min-height: 0px !important;
  height: 45!important; 
  padding-right: 20px;
    } 

      .mat-button.mat-blue {
        color: #0081ba;
     }
     
     .mat-raised-button.mat-blue, .mat-flat-button.mat-blue{
        color: #0081ba;
     }
     ::ng-deep .gm-style-iw-c {
      max-height: 500px !important;
  }
  ::ng-deep .gm-style-iw-d {
    max-height: 500px !important;
}
.pac-container {
  z-index: 10000 !important;
}