<div *ngFor="let mark of markerArray; let i = index">
<agm-marker 
      [latitude]="mark.lat"
      [longitude]="mark.lng"
      [iconUrl]="icon">
      <agm-info-window>
        <div style="align-items: center">
          <div class="marker-header">
          <mat-icon style="color: #0081ba;">person</mat-icon>
          <h4 style="margin-left: 5px;">{{mark.firstName}} {{mark.lastName}}</h4>
        </div>
        <mat-tab-group>
          <mat-tab>
              <ng-template mat-tab-label>
             <i class="fas fa-truck-moving fa-lg" style="margin-right: 15px"></i>
                Pojazd
            </ng-template>
            <div style="min-width: 290px; min-height: 165px; background-color: #ebeff5; border-style: solid; border-color: #0081ba; margin-left: 5px; margin-top:5px; padding: 10px 10px 0px 0px; max-width: 320px"> 
                <div class="marker-header">  
                <mat-icon style="margin-top: -1px; margin-left: 10px; font-size: 150%; color: #0081ba;">location_on</mat-icon>
             <h6 style="display: inline-block;">{{mark.adres}}</h6>
                </div>
             <div></div>
              <div style="margin-top: 5px;" class="marker-header">
                <mat-icon style="margin-top: -1px; margin-left: 10px; font-size: 150%; color: #0081ba;">date_range</mat-icon>
                <h6 style="margin-top: 2px;">Wolny od: {{mark.wolnyOd}} do: {{mark.wolnyDo}}</h6>
              </div>
              <div></div>
              <div style="margin-top: 5px;" class="marker-header">
                  <mat-icon style="margin-top: -1px; margin-left: 10px; font-size: 150%; color: #0081ba;">rv_hookup</mat-icon>
                  <h6 style="margin-top: 2px;">Nadwozie: {{mark.typ}} {{mark.rodzaj}}</h6>
              </div>
              <div></div>
              <div style="margin-top: 5px;" class="marker-header" >
                  <mat-icon style="margin-top: -1px; margin-left: 10px; font-size: 150%; color: #0081ba;">build</mat-icon>
                  <h6 style="margin-top: 2px">Specyfikacje: {{mark.adr}} {{mark.edscha}} {{mark.winda}} {{mark.cerXl}}</h6>
              </div>
              <div></div>
              <div style="margin-top: 5px;" class="marker-header">
                  <mat-icon style="margin-top: -1px; margin-left: 10px; font-size: 150%; color: #0081ba;">info</mat-icon>
                  <h6 style="">Uwagi: {{mark.uwagi}} </h6>
              </div>
          </div> 
            </mat-tab>
          <mat-tab>
             <ng-template mat-tab-label>
               <fa name="fas fa-id-card fa-lg" style="margin-right: 15px"></fa>
               Kontakt
             </ng-template>
                <div style="min-width: 290px; min-height: 165px; background-color: #ebeff5; border-style: solid; border-color: #0081ba; margin-left: 5px; margin-top:5px; padding: 10px 10px 0px 0px; max-width: 320px"> 
                    <div class="marker-header">  
                    <mat-icon style=" margin-left: 10px; font-size: 135%; color: #0081ba;">account_balance</mat-icon>
                 <h6 style="display: inline-block;">{{mark.companyName}}</h6>
                    </div>
                 <div></div>
                  <div class="marker-header">
                    <mat-icon style=" margin-left: 10px; font-size: 135%; color: #0081ba;">email</mat-icon>
                    <a style="" href="mailto:{{mark.email}}?Subject=Wolne%20Auto">{{mark.email}}</a>
                  </div>
                  <div></div>
                  <div class="marker-header">
                      <mat-icon style=" margin-left: 10px; font-size: 135%; color: #0081ba;">phone_android</mat-icon>
                      <h6>{{mark.tel}}</h6>
                  </div>
                  <div></div>
                  <div class="marker-header" style="margin-top:-7.3px;">
                      <img src="assets/images/trans2.png" style=" margin-left: 5px; padding-bottom:-50px!important; width: 11%; height: 11%; ">
                      <h6 style="margin-top: 7.3px">{{mark.transId}}</h6>
                  </div>
              </div> 
          </mat-tab>
        </mat-tab-group>
        </div>
      </agm-info-window>
    </agm-marker>
  </div>
  
 