.marker-header {
    display: inline-flex;
}
::ng-deep .mat-ink-bar {
    background-color:#0081ba !important;}

    ::ng-deep  .mat-tab-label-active {
        color: #0081ba !important;
    } 

      .mat-button.mat-blue {
        color: #0081ba;
     }
     
     .mat-raised-button.mat-blue, .mat-flat-button.mat-blue{
        color: #0081ba;
     }