<div *ngFor="let truck of trucks | async">
<agm-marker 
      [latitude]="truck.latitude"
      [longitude]="truck.longitude"
      [iconUrl]="icon">
      <agm-info-window>
        <div>
          <div class="marker-header">
          <mat-icon>person</mat-icon>
          <h4 style="margin-left: 5px;">{{truck.truckFirstName}} {{truck.truckLastName}}</h4>
        </div>
        <h6 style="margin-left: 5px;" >Kontakt</h6>  
          <div style="background-color: #ebeff5; border-style: solid; border-color: #a4b0c3; margin-left: 5px; margin-top:-7px; padding: 10px 10px 0px 0px;"> 
              <div class="marker-header">  
              <mat-icon style=" margin-left: 10px; font-size: 135%;">account_balance</mat-icon>
           <h6 style="display: inline-block;">{{truck.truckCompanyName}}</h6>
              </div>
           <div></div>
            <div class="marker-header">
              <mat-icon style=" margin-left: 10px; font-size: 135%;">email</mat-icon>
              <a style="" href="mailto:{{truck.email}}?Subject=Wolne%20Auto">{{truck.truckEmail}}</a>
            </div>
            <div></div>
            <div class="marker-header">
                <mat-icon style=" margin-left: 10px; font-size: 135%;">phone_android</mat-icon>
                <span>{{truck.truckTel}}</span>
            </div>
            <div></div>
            <div class="marker-header" style="margin-top:-7.3px;">
                <img src="assets/images/trans.png" style=" margin-left: 5px; padding-bottom:-50px!important; width: 11%; height: 11%;">
                <span style="margin-top: 7.3px">{{truck.truckTransId}}</span>
            </div>
        </div>
        </div>
      </agm-info-window>
    </agm-marker>
  </div>
  <div>
    <agm-marker *ngFor="let mark of markerArray; let i = index"
    [latitude]="mark.lat"
    [longitude]="mark.lng"
    [iconUrl]="icon">   
    <agm-info-window>
        <div>
            <div class="marker-header">
            <mat-icon>person</mat-icon>
            <h4 style="margin-left: 5px;">{{mark.firstName}} {{mark.lastName}}</h4>
          </div>
          <h6 style="margin-left: 5px;" >Kontakt</h6>  
            <div style="background-color: #ebeff5; border-style: solid; border-color: #a4b0c3; margin-left: 5px; margin-top:-7px; padding: 10px 10px 0px 0px;">   
                <div class="marker-header">  
                    <mat-icon style=" margin-left: 10px; font-size: 135%;">account_balance</mat-icon>
                 <h6 style="display: inline-block;">{{mark.companyName}}</h6>
                    </div>
             <div></div>
              <div class="marker-header">
                <mat-icon style=" margin-left: 10px; font-size: 135%;">email</mat-icon>
                <a style="" href="mailto:{{truck.email}}?Subject=Wolne%20Auto">{{mark.email}}</a>
              </div>
              <div></div>
              <div class="marker-header">
                  <mat-icon style=" margin-left: 10px; font-size: 135%;">phone_android</mat-icon>
                  <span>{{mark.tel}}</span>
              </div>
              <div></div>
              <div class="marker-header" style="margin-top:-7.3px;">
                  <img src="assets/images/trans.png" style=" margin-left: 5px; padding-bottom:-50px!important; width: 11%; height: 11%;">
                  <span style="margin-top: 7.3px">{{mark.transId}}</span>
              </div>
          </div>
          </div>
      </agm-info-window>
    </agm-marker>
  </div>
 