<mat-form-field class="input">
    <input [(ngModel)]="value" matInput placeholder="Kraj" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
      </button>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
        <img class="example-option-img" aria-hidden [src]="state.flag" height="25">
        <span>{{state.name}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
<mat-form-field>
        <mat-label>Adres</mat-label>
        <input matInput
        [(ngModel)]="adresValue"
        matGoogleMapsAutocomplete
        type="(cities)">
             <button mat-button *ngIf="adresValue" matSuffix mat-icon-button aria-label="Clear" (click)="adresValue=''">
                        <mat-icon>close</mat-icon>
                      </button>
      </mat-form-field>
     