
<h5 style="padding-bottom: 10px">Adres i Termin:</h5>
<div class="div">
  <div class="second-input" style="margin-left: 40px;">
    <label >Wolny od</label>
        <input style="height: 37px; min-width: 200px; display: inline-block;" nbInput [matDatepicker]="picker1" placeholder="Wolny od" [value]="dateOd.value" [(ngModel)]="dateOdValue" >
        <mat-datepicker-toggle style="margin-left: -45px;" matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </div>
  <div  class="second-input" style=" margin-bottom: 15px; margin-left: -34px;">
    <label style="">Wolny do</label>
      <input nbInput style="height: 37px; min-width: 200px; display: inline-block" [matDatepicker]="picker2" placeholder="Wolny do" [value]="dateDo.value" [(ngModel)]="dateDoValue">
      <mat-datepicker-toggle style="margin-left: -45px;" matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
  </div>
<div></div>
<div class="input">
    <input style="height: 37px; min-width: 200px;" [(ngModel)]="value" nbInput placeholder="Kraj" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl" (click)="clear()" >
    <mat-autocomplete (optionSelected)="countrySelected($event)" #auto="matAutocomplete">
      <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
        <img class="example-option-img" aria-hidden [src]="state.flag" height="25">
        <span>{{state.name}}</span>
      </mat-option>
    </mat-autocomplete>
  </div> 
<div class="second-input" *ngIf="countryShortSelected; else falseInput" >
        <input style="height: 37px; min-width: 200px;" autocomplete="off" nbInput    (click)="clearAdres()"
        [(ngModel)]="adresValue"
        id="adres"
        matGoogleMapsAutocomplete
        country="{{countryShort}}"
        type="cities"
        (onLocationSelected)="onLocationSelected($event)"
        (onAutocompleteSelected)="onAutocompleteSelected($event)"
        >
                    </div>  
    <ng-template #falseInput>
      <div class="second-input">
        <input placeholder="Wybierz Kraj" style="min-width: 200px; height: 37px;" nbInput [disabled]="countryNotSelected" >
      </div>
    </ng-template>
</div>

<h5 class="h5" style="padding-bottom: 10px; margin-top: -5px;">Opis Pojazdu:</h5>
<div class="div"> 
  <div class="input">   
      <input style="min-width: 200px; height: 37px;" nbInput [disabled]="true">
</div> 
<div class="second-input"> 
   <mat-select style="margin-left: -205px; min-width: 170px; min-height: 42.5px;"  [(ngModel)]="typValue">  
    <mat-option  *ngFor="let type of types" [value]="type.value" >
      {{type.viewValue}}
    </mat-option>
  </mat-select>
  <mat-label *ngIf="!typValue; else mat2" style="margin-left: -170px; margin-right: 192px;">Nadwozie</mat-label>
  <ng-template #mat2>
      <mat-label style=" margin-left: 48.5px; min-width: 200px;"></mat-label>
    </ng-template>
</div>

<div  class="second-input">  
    
</div>
<div class="second-input" style="margin-left:-20px">
    <input style="min-width: 200px; height: 37px; margin-left: -50px;" nbInput [disabled]="true">
</div>
<div class="second-input" style="margin-left:-20px">
<mat-select style="margin-left: -165px; min-width: 170px; min-height: 42.5px;"  [(ngModel)]="rodzajValue">
<mat-option *ngFor="let spec of specs" [value]="spec.value">
  {{spec.viewValue}} 
</mat-option>
</mat-select>
<mat-label *ngIf="!rodzajValue;" style="margin-left: -170px;">Rodzaj</mat-label>

</div>
<mat-expansion-panel style=
"margin-left: 22px;
 margin-bottom: 20px;
 margin-right: 20px;
 max-width: 457px;"
 class="mat-elevation-z0">
    <mat-expansion-panel-header style="margin-left: -5px;">
      <mat-panel-title style="display: flex;
      align-items: center; width: 200px;">
        Specyfikacje
        <mat-icon style="margin-left:8px;">info</mat-icon>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div >
    <div >
    <mat-checkbox [(ngModel)]="truckAdr">Adr</mat-checkbox>
    <textarea [(ngModel)]="truckUwagi" style="display: inline-block; float: right; margin-right: 17px; " nbinput placeholder="Uwagi dodatkowe"></textarea>
    </div>
    <div>
    <mat-checkbox [(ngModel)]="truckWinda" >Winda</mat-checkbox>
    </div>
    <div>
    <mat-checkbox [(ngModel)]="truckEdscha">Edscha</mat-checkbox>
    </div>
    <div>
    <mat-checkbox [(ngModel)]="truckCerXl">Cer. XL</mat-checkbox>
    </div>
  </div> 
  </mat-expansion-panel>  
</div>
<div class="dodaj-button">
  <button style="display: flex;
  align-items: center; "  mat-stroked-button  color="blue" (click)="onSubmit()"><mat-icon style="margin-left: -10px;">add</mat-icon>Dodaj</button>
  <button  style="margin-left: 10px; display: flex;
  align-items: center; " mat-stroked-button  color="warn" (click)="windowClose()"><mat-icon style="margin-left: -10px;">close</mat-icon>Anuluj</button>
</div>
<div class="dodaj-button">

</div>


